.projects-container {
    display: grid;
    gap: 16px;
    padding: 16px;

    @media (min-width: 800px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.project-card {
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    }

    img {
        height: 180px;
        object-fit: cover;
    }

    cursor: pointer;
    border-radius: 0px;
}